
header {
  display : flex;
  justify-content: space-between;
  align-items: center;
}

header img{
	width : 80px;
	overflow : hidden;
}

header.a{
	width : 80px;
	overflow : hidden;
}


header ul {
  display :block;
}
header ul li {
  display : inline-block;
}

header ul li a {
  display : inline-block;
  width : 80px;
  height : 30px;
  line-height : 30px;
  color : red;
  text-decoration : none;
  margin : 10px 10px;
  border-radius : 10px;
  background : lightgrey;
  text-align : center;
}

h1 {
    margin : 20px auto;
    text-align : center;
}

h2 {
    margin : 10px auto;
    text-align : center;
    color : red;
    font-weight: bold;
}

main {
    background : grey;
    text-align : center;
    padding : 20px 0px;
    
}

input {
    display : block;
    padding : 5px 10px;
}

input[type="text"], input[type="password"]  {
    width : 150px;
    height : 50px;
    background : lightgreen;
    border-radius : 10px;
    margin : 20px auto;
    border : 2px solid grey;

}

input[type="submit"] {
    width : 100px;
    margin : 20px auto;
    border-radius : 5px;
    border : 2px solid grey;
    text-align : center;
}

